 Table{width::1050px;
      height:1460px;
	  background-color:#66FFFF;
	  text-transform:uppercase;
	  }
	  
	 Day{display:block;
	text-align:center;
	font-size:22px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding-top:30px;
}
profession{display:block;
	text-align:center;
	font-size:22px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-top:17px;
}
cosmetoloh{display:block;
	text-align:center;
	font-size:22px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-top:17px;
}
kliyent{display:block;
	margin:6px;
}
time{display:block;
	margin:4px;
}
type{display:block;
	margin:4px;
    }
	
